[submodule "third_party/display-library"]
	path = third_party/display-library
	url = https://github.com/GPUOpen-LibrariesAndSDKs/display-library.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
